* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

html,
body {
  height: 100%;
  background-color: white;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  /* Ensure the container takes full viewport height */
}

.column {
  background-color: #efefef;

  border: 1px solid #ccc;
  text-align: center;
}

.column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #efefef;

  height: 100vh;
  /* Full viewport height */
  overflow-y: auto;
  /* Enable vertical scrolling for thumbnails */
}


.thumb {
  flex: 1;
  overflow-y: auto;
  /* Enable vertical scrolling for thumbnails */
  height: 100vh;
  /* Full viewport height */
  position: relative;
}

.column2 {
  flex: 6;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.column3 {
  flex: 3;
  height: 100vh;
  flex-direction: column;
  background-color: #efefef;

  height: 100vh;
  /* Full viewport height */


}

.column1-header {
  height: 12vh;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* Adjust the value to your needs */
}

.pdf-container {
  width: 100%;
  height: 900px;
  overflow: auto;
  display: flex;
}

.pdf-container>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.upload-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.file-input {
  display: none;
}

.image-container {
  width: 100%;
  height: 69vh;
  overflow: auto;
  display: flex;
}

.image-container img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-container {
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transition: transform 0.1s ease;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.slider-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.horizontal-slider {
  width: 300px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: white;
  text-align: center;

  height: 12vh;
  width: 930px;
  border-bottom: 0.2px solid rgb(226, 232, 240);
}

.App-footer {
  background-color: white;
  text-align: center;
  height: 10vh;
  /* width: 920px; */
  width: 860px;
  border-top: 0.2px solid rgb(226, 232, 240);

}

.App-main {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72.5vh;
  position: relative;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-button {
  padding: 1em;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
}

.vertical-slider {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 300px;
  transform: rotate(180deg);
}

header {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 12vh;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 0.2px solid rgb(226, 232, 240);
}



.zoom-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  left: 1024px;
  transform: translateY(-50%);
  z-index: 100;
}

.zoom-button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid grey;
  cursor: pointer;
}

.zoom-button:hover {
  background-color: #f0f0f0;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  background-color: #f8f9fa;
}

.footer-icons {
  display: flex;
  align-items: center;
  color: black;
}

.footer-icons-right {
  display: flex;
  align-items: center;


}

.pdf-document {
  display: flex;
  align-items: center;
  width: 100%;

}



.pdf-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
  margin: auto;
}

.thumbnail-container {
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Ensure the container takes full width */
  height: auto;
  /* Adjust to content */
}

.thumbnail-pdf-container {
  height: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: contain;

}

.thumbnail-image {
  width: 70%;
  height: 70%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* padding: 10px; */
}

.selected {
  border: 2px solid rgb(59, 130, 246);
  overflow: hidden;

}

.thumbnail-container .selected .thumbnail-pdf-container {
  border: 2px solid rgb(59, 130, 246);
}

.thumbnail-container.selected .thumbnail-image {
  border: 2px solid rgb(59, 130, 246);
}

.SideBar {
  height: 100vh;
  width: 5rem;
  /* background-color: rgb(32,45,64); */
  background-color: rgb(32, 45, 64);
}

.field {
  background-color: darkgrey;
  width: 100%;
  height: 40px;
  /* padding: 10px; */
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview {
  overflow: hidden;
}

.column3-footer {
  background-color: white;
  text-align: center;
  height: 10vh;


  border-top: 0.2px solid rgb(226, 232, 240);

}

.column3-main {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72.5vh;
  position: relative;
}

.Add {
  border-radius: 10%;
  padding: 2%;
}

.konva-div {
  position: absolute;

  max-width: 100%;
  max-height: 100%;
  object-fit: contain;


}



.sample-footer {
  background-color: white;
  text-align: center;
  height: 10vh;
  align-items: center;
  justify-content: center;
  /* width: 430px; */

  border-top: 1px solid rgb(169, 169, 169);
}

.sample {
  flex: 1;
  overflow: hidden;
  display: flex;
  height: 100vh;
  position: relative;
  background-color: #efefef;

  flex-direction: column;

}

.sample-data {
  display: flex;
  /* height: 39rem; */
  height: 32rem;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid rgb(169, 169, 169);
  padding: 20px;
}

.sample-text {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Calibri', cursive;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-bottom: black;
  flex-direction: column;
}

.sample-input,
.sample-kind {
  /* margin-bottom: 10px; */
  /* flex-direction: column; */
}

.sample-input label,
.sample-kind label,
.sample-language label {
  /* display: block; */
  margin-bottom: 5px;
  font-weight: bold;


}

.sample-input input,
.sample-kind select,
.sample-language select {
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 20px;
}

.pic-display {
  margin-top: 20px;
  /* ay 7aga 3shan a3mel push*/
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.samples {
  margin: 20px;
}

.samples-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.samples-content {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

.one-sample {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sample-thumbnail {
  width: 100px;
  /* Adjust the width as needed */
  height: auto;
  margin-right: 20px;
}

.sample-info {
  flex-grow: 1;
}

.sample-info div {
  margin-bottom: 5px;
}

.sample-info button {
  margin-right: 5px;
}


.fileUploadButton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.annotate-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.Samples-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.samples-counter {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 0.2px solid rgb(226, 232, 240);
  display: flex;
  flex-direction: column;
  /* Display items vertically */
  align-items: flex-start;
  /* Align items to the left */
}

.samples-counter h5 {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 5px;
  /* Add spacing between the heading and the counter */
}

.samples-counter span {
  font-size: 20px;
  /* Bigger font size for the counter */
  font-weight: bold;
  /* Bold style */
}

.samples-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #efefef;

}

.one-sample {
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(212, 217, 224);
  margin-right: 20px;
  margin-left: 20px;
  background-color: #efefef;
}

/* .sample-info {
  flex-grow: 1;
} */

.sample-info div {
  margin-bottom: 5px;
}

.sample-info button {
  margin-right: 5px;
}

.sample-dropdown-menu {
  right: 0;
  left: auto !important;
}

.sample-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.dropdown-menu {
  display: block;
  position: absolute;
  right: 0;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-menu button {
  display: block;
  background: none;
  border: none;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background: #f0f0f0;
  
}

/* .selected-area-display {

    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 230px;


} */
.selected-area-display{
overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}