* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

html, body {
  height: 100%;
  background-color: white;
  font-family: Arial, sans-serif; 
}

.main-container {
  display: flex;
  height: 100vh; /* Ensure the container takes full viewport height */
}

.column {
  background-color: #efefef;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.column1 {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for thumbnails */
  height: 100vh; /* Full viewport height */
  position: relative;
}

.column2 {
  flex: 6;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.column3 {
  flex: 3;
  height: 100vh;
}

.header {
  height: 10%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
}

.pdf-container {
  width: 100%;
  height: 900px;
  overflow: auto; 
  display: flex;
}

.pdf-container > div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
} 

.upload-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.file-input {
  display: none;
}

.image-container {
  width: 100%;
  height: 69vh; 
  overflow: auto;
  display: flex;
}

.image-container img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-container {
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transition: transform 0.1s ease;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.slider-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.horizontal-slider {
  width: 300px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header{
  background-color: white;
  text-align: center;
  padding: 0;
  height: 12vh;
}

.App-footer {
  background-color: white;
  text-align: center;
  padding: 0;
  height: 10vh;
}

.App-main {
  flex: 1;
  overflow: hidden; /* Prevent scrollbars in this container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  position: relative;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-button {
  padding: 1em;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
}

.vertical-slider {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 300px;
  transform: rotate(180deg);
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.zoom-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 100;
}

.zoom-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid grey;
  cursor: pointer;
}

.zoom-button:hover {
  background-color: #f0f0f0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
}

.footer-icons {
  display: flex;
  align-items: center;
  color: black;
}

.footer-icons-right {
  display: flex;
  align-items: center;
}

.pdf-document {
  display: flex;
  align-items: center;
  width: 100%;
}

.pdf-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
  margin: auto;
}

.thumbnail-container {
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the container takes full width */
  height: auto; /* Adjust to content */
}

.thumbnail-pdf-container {
  width: 100px; /* Control the width of the image */
  height: 100px; /* Control the height of the image */
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 100%; /* Ensure the image fits within the container */
  object-fit: contain;/* Ensure content is clipped to fit */
}

.thumbnail-image {
  width: 100px; /* Control the width of the image */
  height: 100px; /* Control the height of the image */
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 100%; /* Ensure the image fits within the container */
  object-fit: contain; /* Ensure the image is not cropped */
}
